<!-- footer.component.html -->
<footer>
    <div class="left-column">
        <a href="#"><img class="logo" src="assets\images\logo.png" alt="Company Logo"></a>

        <div class="media-logos">

            <a href="https://www.facebook.com/2vntravel">
                <i class="fab fa-facebook"></i>
            </a>

            <a href="https://www.youtube.com/@2vntravel">
                <i class="fab fa-youtube"></i>
            </a>

            <a href="https://www.instagram.com/2vntravel/">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
    <div class="right-column">
        <div class="link-column">
            <h3>CUSTOMER SERVICE</h3>
            <a href="#">Conditions of use</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Ticket refund policy</a>
            <a href="#">Deny the responsibility</a>
            <a href="#">How to receive tickets</a>
            <a href="#">Payment Guide</a>
            <a href="#">Tour terms and conditions</a>

        </div>
        <div class="link-column">
            <h3>INFORMATION</h3>
            <a href="#">Frequently asked questions</a>
            <a href="#">Promotional news</a>
            <a href="#">Recruitment</a>
        </div>
        <div class="link-column">
            <h3>INFORMATION ABOUT US</h3>
            <a href="#">Our company</a>

        </div>
    </div>

</footer>