<div class="introduce">
    <div class="introduce-l">
        <h1>About Us</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h2>
        <p>_________________________________________________________________________________</p>
        <div>
            <div class="introduce-l-1">
                <img src="assets\images\icons\location-sharp.svg" alt="">
                <span>US Office: </span>9636 Garden Grove Blvd, Suite #22, Garden Grove, CA 92844
            </div>
            <div class="introduce-l-2">
                <img src="assets\images\icons\call.svg" alt=""> +1833-859-8686
            </div>
        </div>
        <p>_________________________________________________________________________________</p>
        <div>
            <div class="introduce-l-1">
                <img src="assets\images\icons\location-sharp.svg" alt="">
                <span>VN Office: </span>B54-B56 Bạch Đằng, Phường 2, Quận Tân Bình, TP HCM
            </div>
            <div class="introduce-l-2">
                <img src="assets\images\icons\call.svg" alt=""> +8428-7304-5657
            </div>
        </div>
    </div>
    <div class="introduce-r">
        <img src="assets\images\aboutus.jpg" alt="">
    </div>
</div>

<div class="whyus">
    <div>
        <mat-icon>check_circle</mat-icon>
        <h3>Service quality</h3>
        <h5>We always promote service quality for domestic and foreign customers to ensure customers are satisfied with the service.</h5>
    </div>
    <div>
        <mat-icon>verified_user</mat-icon>
        <h3>Reliability</h3>
        <h5>We believe in responsible trading practices and always ensure your transactions with us are accurate and secure.</h5>
    </div>
    <div>
        <mat-icon>local_offer</mat-icon>
        <h3>Special offer</h3>
        <h5>We always have many promotions for domestic and foreign customers when booking tickets on the website or contacting directly.</h5>
    </div>
</div>

<div class="introduce-email-form-container">
    <div class="email-form-container">
        <h2>Never Overpay for Flights Again!</h2>
        <h3>Amazing Deals to the Best Destinations. Save up to 50%.</h3>
        <form action="/submit" method="post">
            <label for="email"></label>
            <input type="email" id="email" name="email" placeholder="Your email..." required>
            <button type="submit">Get Free Flights Alerts</button>
        </form>
    </div>
</div>