<!---header-->

<header class="header" data-header>
    <div class="container">
        <ul class="top-nav">
            <li>US: +1833-859-8686 </li>
            <li>|</li>
            <li>VN: +8428-7304-5657</li>
            <li>|</li>
            <li>
                <div class="social-pc">
                    <div class="translate">
                        <button>change language</button>
                    </div>
                </div>
            </li>
        </ul>
        <nav class="navbar" data-navbar>


            <a href="#" class="logo">
                <img src="assets/images/logo.jpg" alt="logo">
            </a>

            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="#" class="nav-link">Flight</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link">Visa</a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link">Legal Services</a>
                </li>
                <li class="navbar-item">
                    <a href="/fasttrack" class="nav-link">Fast Track</a>
                </li>


                <li class="navbar-item">
                    <a href="/contact" class="nav-link">Contact Us</a>
                </li>

            </ul>
            <!-- <ul class="nav-action-list">

              <li>
                  <button class="nav-action-btn">
              <ion-icon name="search-outline" aria-hidden="true"></ion-icon>

              <span class="nav-action-text">Search</span>
            </button>
              </li>

              <li>
                  <a href="#" class="nav-action-btn">
                      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                      <span class="nav-action-text">Login / Register</span>
                  </a>
              </li>

              <li>
                  <button class="nav-action-btn">
              <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>

              <span class="nav-action-text">Wishlist</span>

              <data class="nav-action-badge" value="5" aria-hidden="true">5</data>
            </button>
              </li>

              <li>
                  <button class="nav-action-btn">
              <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>

              <data class="nav-action-text" value="318.00">Basket: <strong>$318.00</strong></data>

              <data class="nav-action-badge" value="4" aria-hidden="true">4</data>
            </button>
              </li>

          </ul> -->
        </nav>
    </div>
</header>