<app-toolbar></app-toolbar>
<div class="contact-container">
    <div>
        <!-- <img src="assets\images\bgcontact.jpg" alt=""> -->
    </div>
    <div class="company-info">
        <h2>2VNTravel - Prestigious, dedicated, professional</h2>
        <h3>Address</h3>
        <p>US Office: 9636 Garden Grove Blvd, Suite #22, Garden Grove, CA 92844</p>
        <p>VN Office: B54-B56 Bạch Đằng, Phường 2, Quận Tân Bình, TP HCM</p>
        <h3>Hotline</h3>
        <p>US: +1833-859-8686 - VN: +8428-7304-5657</p>
        <h3>Email</h3>
        <p>support@2vntravel.com</p>


    </div>

    <div class="contact-form">
        <!-- Form điền thông tin khách hàng ở đây -->
        <h2>Contact</h2>
        <form>
            <!-- Thêm các trường thông tin khách hàng -->
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Nguyen Van A" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="abc@gmail.com" required>

            <!-- Thêm các trường khác-->
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" placeholder="0123456789" required>


            <label for="user_message">Message:</label>
            <input type="text" id="user_message" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<app-footer></app-footer>